<!DOCTYPE html>

    {% extends 'main.html' %}

    {% load static %}

    {% block layout %}
        <h1>Library</h1>
        <div class="flip-card" onclick="this.classList.toggle('clicked')">
          <div class="flip-card-inner">
              <div class="flip-card-front">
                  <p class="title break-words">Some card</p>
                  <p>Information</p>
              </div>
              <div class="flip-card-back">
                  <p>Backside of card</p>
              </div>
          </div>
      </div>

    {% endblock %}