{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>TCG-Binder</title>

        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
      
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <!--Using this for NavBar Icons-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body>
        {% include 'navbar.html' %}
        <!--This is a card specifically for formatting Sign Up, In, Out-->
        <div class="h-screen flex items-center justify-center">
        <div class="card w-96 bg-base-300 py-2">
        {% block body %}
            {% block content %}
            {% endblock content %}
        {% endblock body %}
        {% block extra_body %}
        {% endblock extra_body %}
        </div>
        </div>
    </body>
</html>
